/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background:linear-gradient(59deg, rgba(2,62,138,1) 0%, rgba(23,184,237,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header a {
  color: white;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.questionBank {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.question-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.question-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.question-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.question-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

#quizDetails {
  text-align: center;
  height: 300px;
}

#showSelectQuestionsForm {
  text-align: center;
  height: 300px;
}



/* new question form */
.form-heading:hover{
  color: #e7195a;
  cursor: pointer;
}
.form-heading{
  padding: 10px;
  margin-bottom: 15px;
  background: goldenrod;
  border: 0;
  color: white;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

#questionsToSelect {
  align-items: center;
}

label, input {
  display: block;
}
.create input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}


/* update question form */
.update{
  display: block;
}
label, input {
  display: block;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.card {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  
}

.classroom-object h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: goldenrod;
}

.classroom-object p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.classroom-object span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

form button, div button, #answerSubmit {
  background: goldenrod;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
/* edit button */
.edit{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 2px;
  cursor: pointer;
}

.questions div .edit{
  background-color:#c0392b;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  padding-left:25px;
  padding-right:25px;
 }
 
 /* Span Tag */
 .questions .question-details span{
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform:uppercase;
  background-color:#d3d3d3;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
 }
 
 /* Paragraph */
 .questions .question-details p{
  position:relative;
  font-size:15px;
  text-transform:none;
  text-align:left;
  height:35px;
 }
 
 /* Heading */
 .questionBank div h3{
  position:static;
  text-transform:uppercase;
 }
  
input.error {
  border: 1px solid crimson;
}

#add {
  background: goldenrod;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
  outline: none !important;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input[type="text"] {
  color: black;
}

.container-fluid {
  text-align: center;
  padding-bottom: 200px;
  /* background:linear-gradient(59deg, rgba(2,62,138,1) 0%, rgba(23,184,237,1) 100%); */
}

.menuNav {
  /* padding-right: 75%; */
  background: goldenrod;
  max-width: max-content;
  max-height: max-content;
}

#mainMenu {
  color: white;
}

#disconnectButton {
  margin-left: 10px;
} */

#showAnswer {
  margin-right: 10px;
}

.questionContainer {
  border-style: solid;
  padding-bottom: 200px;
  background-color: rgba(211, 211, 211, 0.222);
  height: 100%;
  width: 100%;
}

#MCQButton {
  background-color: goldenrod;
}

.classroom {
  text-align: left;
  border-style: none;
  padding-bottom: 200px;
  padding-left: 0%;
  padding-right: 0%;
}

#hostingDisplay {
  display: flex;
}
#rowQuestionDisplay {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#prevButtonContainer {
  flex: 1;
}
#nextButtonContainer {
  flex: 1;
}
#questionDisplayContainer {
  flex: 1;
  flex-basis: 35%;
}

#prevButton {
  width: 50%;
  height: 100%;
  flex-basis: 30%;
} 
#nextButton {
  width: 50%;
  height: 100%;
  flex-basis: 20%;
}
#questionDisplay {
  width: 100%;
  height: 100%;
}

#displayedQuestion {
  font-size: 50px;
  padding-top: 20px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-bottom-style: solid;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-bottom: 20px;
}

.answerOptions {
  color: black;
  width: auto;
}

#answerBox {
  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
  text-align: center;
  height: 100px;
  width: 800px;
}
#answerSubmit {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.options {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: auto;
  height: auto;
}

.pOption, .unpOption {
  width: 190px;
  height: 150px;
  margin-left: 60px;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 35px;
}


